body {background-image:url(/images/login-background.jpg);}

.right {float:right;}
.left {float:left;}

#blog-container {
    border:1px solid #000;
    background-color:#FFF;
    padding:16px;
    margin-left:320px;
    margin-top:32px;
}
