body {
    background-image:url(/images/login-background.jpg);
}

.login-frame {
    position:absolute;
    top:50%;
    right:64px;
    width:320px;
    margin:0;
    padding:10px;   
    font-size:1.2em; 
    border-left:1px solid #444;    
}

#login-error {
    position:absolute;
    top:50%;
    right:400px;
    width:260px;
    margin:0;
    padding:10px;
    font-size:1.8em;
    height:143px;
    margin-top:-91px;
    padding-top:32px;
}

#login {
    height:143px;
    margin-top:-91px;
}

#registration {
    height:203px;
    margin-top:-121px;
}

#password {
    height:83px;
    margin-top:-61px;
}

.login-frame a, .login-frame span {float:right;margin-right:10px;}
