body {
    background-image:url(/images/login-background.jpg);
}

#login-frame {
    position:absolute;
    top:50%;
    right:64px;
    width:320px;
    height:160px;
    margin:0;
    margin-top:-100px;
    padding:10px;
    
    font-size:1.2em;
    
    border-left:1px solid #666;    
}

#login-frame a, #login-frame span {float:right;margin-right:10px;}
