<div class="login-frame" id="password">
<% form_for resource_name, resource, :url => password_path(resource_name) do |f| %>
  <%= f.error_messages %>

  <%= f.label :email %>
  <br />
  <%= f.text_field :email, :class => "text" %>
  <br />
  <%= f.submit "Send" %>
<% end %>
</div>
