<div class="container">
<div id="blog-container" class="span-16 last">
<% for item in @posts -%>
  <% if item.published? -%>
  
    <h2><%=h item.title %></h2>
    
    <p><%=h item.body[/.*/] %></p>
    <code><%=h item.author %></code>
    
    <hr />
  <% end -%>
<% end -%>
<span class="large">
<% for item in @pagenum -%>
  <%= link_to item, '/blog/' + item.to_s %>
<% end -%>
</span>
</div>
</div>
